[submodule "CfC"]
	path = CfC
	url = https://github.com/mjfduss/CfC
	branch = main
[submodule "py_bridge_designer"]
	path = py_bridge_designer
	url = https://github.com/mjfduss/py_bridge_designer
	branch = main
